* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

body {
  line-height: 1.6;
  background-color: #f8f9fa;
 }

/* _____--- header/navegação ---_____ */

header {
  background: linear-gradient(135deg, #d77bea, #b40dd2);
  color: #fff;
  padding: 1rem 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo img {
  height: 100px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 2.5rem;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.menu li a:hover {
  color: #6d0380;
}


/* _____--- seção hero ---_____ */

.hero {
  text-align: center;
  padding: 4rem 2rem;
  background: linear-gradient(135deg, #03dac6, #03da32);
  color: #fff;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.btn {
  background-color: #fff;
  color: #03da32;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #be16dc;
  color: #fff;
}

/* _____--- footer ---_____ */

footer {
  background-color: #ffffff;  
  text-align: center;
  padding: 1.5rem;
  color: #7a6d6d;
  font-size: 0.9rem;
}
